.app-header {
    width: 100%;
    height: 90px;
    padding: 0 2rem;
    background-color: #795548;
    color: white;
    font-family: cursive,sans-serif;

    .app-logo {
        width: 120px;
    }

    .nav-links {
        & >* {
            padding: 0.4rem;
            font-size: 14px;
        }
    }

}